/* SignUp/SignIn/User form views */
.signup-form,
.signin-form {
  padding: 15px;
  margin: 10px 0;
}

.signup-form > .input-group,
.signin-form > .input-group {
  display: flex;
  flex-direction: column;
}

.signup-form > .input-group > label,
.signin-form > .input-group > label {
  margin: 10px 0;
}

.signup-form > .input-group > input[type="email"],
.signup-form > .input-group > input[type="text"] {
  margin-bottom: 10px;
  width: 100%;
}

#user_email,
#password,
#new_password_confirmation,
#user_password_confirmation {
  margin-bottom: 10px;
  width: 100%;
}